@{
    ViewBag.Title = "Thong Ke";
}

@using System.Diagnostics.Eventing.Reader
@model WebApplication1.Models.SearchPageViewModel

<div class="row">
    <div class="portlet-body">
        @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { data_toggle = "validator", role = "form", id = "create-form", @class = "form-inline" }))
        {
            <div class="form-group">
                @Html.TextBoxFor(x => x.SearchCriteria.From, null, new { id = "from-date", @type = "date", @class = "form-control", @placeholder = "Tu Ngay" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(x => x.SearchCriteria.To, null, new { id = "to-date", @type = "date", @class = "form-control", @placeholder = "Den Ngay" })
            </div>
            <button type="submit" class="btn btn-default">Tim kiem</button>
        }
    </div>
</div>
<div class="row">
    <div>
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Tong quan</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable table-scrollable-borderless">
                    @if (Model.Overview == null || Model.Overview.Count == 0)
                    {<p>Hien tai chua co giao dich.</p>
                    }
                    else
                    {
                        <table class="table table-hover table-light">
                            <thead>
                            <tr class="uppercase">
                                <th>Ngay</th>
                                <th></th>
                                <th>Mua vao</th>
                                <th>Ban ra</th>
                                <th>
                                    <div class="mt-action-img">
                                        <div class="flgBxPOP" style="background: url(/img/vnd.png) no-repeat scroll 4px 0 transparent"/>
                                    </div> Mua vao
                                </th>
                                <th>
                                    <div class="mt-action-img">
                                        <div class="flgBxPOP" style="background: url(/img/vnd.png) no-repeat scroll 4px 0 transparent"/>
                                    </div> Ban ra
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model.Overview)
                            {
                                <tr>
                                    <td>@item.InsertedDate</td>
                                    <td>
                                        <div class="flgBxPOP flgSprt f@(item.Currency)"></div></td>
                                    <td>@item.BuyAmount</td>
                                    <td>@item.SellAmount</td>
                                    <td>@item.VndBuyAmount</td>
                                    <td>@item.VndSelldAmount</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    
</div>
